<% include ./partials/header%>
<div id="page-wrap">
<div class= "ui huge header">Job Applications</div>
<table class="ui padded compact table">
  <thead>
    <tr>
      <th>Company</th>
      <th>Job</th>
      <th>Date Applied</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% jobs.forEach(function(job) {%>
    <tr>
      <td><%=job.company%></td>
      <td><%=job.job%></td>
      <td><%=job.dateApplied.toDateString()%></td>
      <td>
        <% if(job.description && job.description.length > 0) { %>
            <%= job.description.substring(0, 100)%>
        <% } %> 
      </td>  
      <td>
        <a href="/jobs/<%= job._id%>"> 
        <div class="ui small basic icon buttons">
          <button class="ui button">More</button>
        </div> 
        </a>  
        <form id= "delete" action ="/jobs/<%= job._id%>?_method=DELETE" method="POST">
          <button class="ui red basic button">Delete</button>
        </form>    
      </td>  
    <% })%>
    </tr> 

  </tbody>

</table>
</div>
<% include ./partials/footer%>


